<div class="pos-f-t">
  <nav class="navbar navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>
  <div class="collapse" id="navbarToggleExternalContent">
    <div class="bg-dark p-4">
      <h5 class="text-white h4">Control of events</h5>
      <span class="text-muted"><a [routerLink]="[ '/FormEvent']">+Add</a></span>
    </div>
  </div>
</div>

<br>
  
<div class="container">
<router-outlet></router-outlet>
</div>
